@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

/*
  Colour Palette

 */


/* Global Values Such As h1, h2*/
html{
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

img{
  padding: 0;
  margin: 0;
}

h1{
  font-size: 1.85em;
}

h2{
  font-size: 1.1em;
}

p{
  font-size: 0.75em;
}

ul{
  padding: 0;
  margin: 0;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;

}

header{
  background: rgb(211, 224, 229, 0.5);
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;

}

/* Global Values End */

header #branding{
  float: left;
}

header nav{
  float:right;
  padding-top: 1.2em;
}

header li{
  float: left;
  display: inline;
  padding: 0 0.5em 0 0.5em;
}

header a{
  text-decoration: none;
  font-weight: lighter;
  color: #8860D0;
}

header a:hover{
  color: #779F2F;
}

header #loginregister{
  float: right;
  display: inline;
  padding: 0 0.5em 0 1.85em;
  padding-top: 0.55em;
}

.registerbutton a{
  color: #fff;
}


#loginregister .registerbutton{
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #8860D0;
  border: none;
  color: white;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#loginregister .registerbutton:hover{
  background-color: #9CBD69;
}

#showcase{
  height: 92vh;
  width: auto;
  max-width: 100%;
  background: url('../images/Main-Photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: solid #8860d0;
}

/* #showcase #showcase-text{
} */

#showcase #showcase-text h1{
  color: #8860d0;
  font-weight: 300;
  font-size: 5.5vh;
  padding: 0;
  margin: 0;
}

#showcase #showcase-text p{
  color: #fff;
  font-size: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background: rgba(86, 182, 233, 0.5);
}

#showcase #showcase-text .learnmore{
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #8860D0;
  border: none;
  color: white;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin: 4vw;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: auto;

}

#showcase #showcase-text a:hover{
  background-color: #9CBD69;
}

#showcase .container2 .learnmore a{
  color: #fff;
  background-color: #8860D0;
  border: 0;
  padding: 0.5em;
}

.container1{
  width: 70%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.container2{
  width: 80%;
  margin: auto;
  padding-top: 4em;
  max-width: 1000px;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
  grid-gap: 0;
  background-color: #8860D0;
  max-width: 100vh;
  margin: auto;
  color: #fff;
  font-size: 1.1vw;
  align-items: center;
}

.grid-container h1{
  font-weight: 300;
  font-size: 2vw;
  text-align:center;
  padding: 0;
  margin: auto;
}

.grid-container p{
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  font-size: 0.8vw;
}

.grid-container .grid-item .seemore{
  text-align: center;
  align-items: center;
}

.container .grid-container .grid-item img{
  margin: 0;
  padding: 0;
  border-radius: 0px;
  border: 0;
  max-width: 100%;
  object-fit: fill;
}



.grid-container a{
  display: block;
  text-decoration: none;
  background-color: #9CBD69;
  color: #fff;
  border-radius: 5px;

  padding: 0.6vh 0 0.6vh 0;
  margin: 0 7em 0 7em;
  text-align: center;
  align-items: center;
}

.container2 a{
  text-decoration: none;
  font-weight: lighter;
  border: 1em solid white;
  color: black;
  background: white;
  margin-left: 10em;
  margin-right: 10em;
  text-align: center;
  border-radius: 3px;
  display: block;
}

.container2 h2{
  font-weight: lighter;
  text-align: center;
  color: #aeaeae;
  margin: 2em 1em 5em 1em;
}

.box{
  display: inline-block;
  text-align: center;
  width:32%;
  margin: auto;
  align-items: center;
  padding-top: 4vh;

  border-bottom: solid red;
  margin-bottom: 4vh;
  border-radius: 15px;
}

.box img{
  width: 90px;
}

.undershowcase{
  background-color: rgb(211, 224, 229, 0.5);
}

#learnmore{
  background-color: rgb(211, 224, 229, 0.5);
}

.footerbox{
  display: block;
  background-color: rgb(197, 202, 204);
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: 0;
  text-align: center;
  width: 90%;
  margin: auto;
}

.footerbox li{

  display: inline;
  padding: 0 0.5em 0 0.5em;
}

.footerbox a{
  text-decoration: none;
  font-weight: lighter;
  color: #8860D0;
}

.footerbox a:hover{
color: #779F2F;
}

.footerbox p{
  display: block;
}
